<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <nav>
        <li>
            <a href="regester">regester</a>
        </li>
        <li>
            <a href="login">login</a>
        </li>
    </nav>
</head>
<body>
    
</body>
</html>