<!DOCTYPE html>
<html lang="en">
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width,
        initial-scale=1.0">
        <title>
            login
        </title>
       
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Borel&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<style>
    @import url("https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

    @import url("https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.name{
    font-family: borel;
    position: absolute;
    top: 90px; 
    font-weight: 900 bold;
    font-size: 40px;
    color:rgb(227, 237, 32) ;
	animation: gradient1 6s ease infinite;
	height: 100vh;
}

@keyframes gradient1 {
	0% {
		color: red 10%;
	}
	25% {
		color:orange;
	}
    50% {
        color: #ee7752;
    }
    75%{
        color: antiquewhite;
    }
	100% {
		color:rgb(27, 234, 107);
	}
}




body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #29da84, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.wrapper{
    width: 420px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 60px;
    background-color: rgb(206, 25, 206);
    background: transparent;
    backdrop-filter: blur(20px);
    
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    border: 2px solid rgba(255,255,255, .2);
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.inputbox input::placeholder{
    color: #fff;
}
.inputbox i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px  0 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
    color: orange;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
    color: orange;
}
.btn:hover{
    background-color: orange;

    
}



</style>
    </head>
    <body>
        <div class="name">
           <marquee behavior="scroll" direction="left">Welcome To Read N' Share</marquee> 
        </div>
        <div class="wrapper">
            <form action="/login/auth" method="post" >
                <h1>Login</h1>
                <div class="inputbox">
                    <input type="text" placeholder="username"
                    required name="username">
                    <i class='bx bxs-user'></i>
                </div>
                <div class="inputbox">
                    <input type="password" placeholder="password"
                    required name ="password">
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="remember-forgot">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="register-link">
                    <p>Don't have an account? <a href="/regester">Register</a> </p>
                </div>
            </form>
        </div>
    </body>
</html>
